<form [formGroup]="skillFormGroup">
    <ng-template>Skill Information</ng-template>
    <mat-form-field>
        <mat-label>Skill Name</mat-label>
        <input matInput placeholder="Skil Name" formControlName="skillName" required>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Experience in Years</mat-label>
        <input matInput placeholder="Experience in Years" formControlName="experienceInYear" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Skill Label</mat-label>
        <mat-select>
            <mat-option *ngFor="let skilLabelItem of skillLabels" [value]="skilLabelItem">
            {{skilLabelItem}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</form>





