
<div class="container" style="margin-top: 30px;">
    <div class="row">
        <div class="col-md-12">
            <div class="">
                <h3>Create Employee</h3>
 
                <mat-horizontal-stepper [linear]="isLinear" #stepper>
                <mat-step [stepControl]="firstFormGroup">
                    <form [formGroup]="firstFormGroup">
                        <ng-template matStepLabel>Basic Details</ng-template>
                        <div class="form-group">
                            <input class="form-control" type="text" name="firstName" formControlName="firstName" placeholder="First Name" />
                            <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)"
                                    class="alert-danger">
                                <div *ngIf="firstName?.errors?.['required']">
                                    First Name is required.
                                </div>
                                <div *ngIf="firstName?.errors?.['minlength']">
                                    Name must be at least 2 characters long.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="lastName" formControlName="lastName" placeholder="Last Name" />
                        </div>
                        <div class="form-group">
                            <input type="text"
                                placeholder="Datepicker"
                                class="form-control"
                                bsDatepicker
                                [bsConfig]="datePickerConfig"
                                name="dob" formControlName="dob">

                                
                            <!-- <input class="form-control" type="date" name="dob" formControlName="dob" placeholder="Date of birth"  /> -->
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="phone" formControlName="phone" placeholder="Phone" />
                            <div *ngIf="phone?.invalid && (phone?.dirty || phone?.touched)"
                                    class="alert-danger">
                                <div *ngIf="phone?.errors?.['required']">
                                    Phone is required.
                                </div>
                                <div *ngIf="phone?.errors?.['pattern']">Please, Enter 11 digit Mobile Number.</div> 
                            </div>
                        </div>
                        <div>
                            <button mat-button matStepperNext>Next</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="skillFormGroup"  >
                    <form [formGroup]="skillFormGroup">
                        <ng-template matStepLabel>Skill Information</ng-template>
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Skill Name</mat-label>
                                <input matInput placeholder="Skil Name" formControlName="skillName" required>
                            </mat-form-field>
                        </div>
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Experience in Years</mat-label>
                                <input matInput placeholder="Experience in Years" formControlName="experienceInYear" required>
                            </mat-form-field>
                        </div>
                        <div class="form-group">
                            <mat-form-field appearance="fill">
                                <mat-label>Skill Label</mat-label>
                                <mat-select name="skillLabel" formControlName="skillLabel" >
                                    <mat-option *ngFor="let skilLabelItem of skillLabels" [value]="skilLabelItem">
                                    {{skilLabelItem}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div>
                            <button mat-button matStepperNext>Next</button>
                        </div>
                    </form>
                    
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Done</ng-template>
                    <p>You are now done.</p>
                
                    <mat-list>
                    <mat-list-item> <strong>First Name:</strong> {{ employeeData.actionsObserver._value.firstName }}</mat-list-item>
                    <mat-list-item> <strong>Last Name:</strong> {{ employeeData.actionsObserver._value.lastName }}</mat-list-item>
                    <mat-list-item> <strong>Date Of Birth:</strong> {{ employeeData.actionsObserver._value.dob }}</mat-list-item>
                    <mat-list-item> <strong>Phone:</strong> {{ employeeData.actionsObserver._value.phone }}</mat-list-item>

                    <mat-list-item> <strong>Skill Name:</strong> {{ employeeData.actionsObserver._value.skillName }}</mat-list-item>
                    <mat-list-item> <strong>Experience:</strong> {{ employeeData.actionsObserver._value.experienceInYear }}</mat-list-item>
                    <mat-list-item> <strong>Skill Label:</strong> {{ employeeData.actionsObserver._value.skillLabel }}</mat-list-item>
                
                    
                    </mat-list>
                
                    <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)="stepper.reset()">Reset</button>
                    <button mat-button (click)="submit()">Submit</button>
                    </div>
                </mat-step>
                </mat-horizontal-stepper>
            </div>
        </div>
    </div>
</div>

