
    <form [formGroup]="firstFormGroup">
        <ng-template>Basic Details</ng-template>
        <div class="form-group">
            <input class="form-control" type="text" name="firstName" formControlName="firstName" placeholder="First Name" />
            <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)"
                    class="alert-danger">
                <div *ngIf="firstName?.errors?.['required']">
                    First Name is required.
                </div>
                <div *ngIf="firstName?.errors?.['minlength']">
                    Name must be at least 2 characters long.
                </div>
            </div>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="lastName" formControlName="lastName" placeholder="Last Name" />
        </div>
        <div class="form-group">
            <input type="text"
                placeholder="Datepicker"
                class="form-control"
                bsDatepicker
                [bsConfig]="datePickerConfig"
                name="dob" formControlName="dob">
        
                
            <!-- <input class="form-control" type="date" name="dob" formControlName="dob" placeholder="Date of birth"  /> -->
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="phone" formControlName="phone" placeholder="Phone" />
            <div *ngIf="phone?.invalid && (phone?.dirty || phone?.touched)"
                    class="alert-danger">
                <div *ngIf="phone?.errors?.['required']">
                    Phone is required.
                </div>
                <div *ngIf="phone?.errors?.['pattern']">Please, Enter 11 digit Mobile Number.</div> 
            </div>
        </div>
    </form>


