<div class="container" style="margin-top: 30px;">
    <div class="row">
        <div class="col-md-12">
            <div class="">
                <h1 class="alert alert-success">Home</h1>
            </div>
        </div>
    </div>
</div>