<header>
    <div class="container">
       <div class="row">
          <div class="col-md-12 col-sm-12 col-lg-12 col-xl-2">
             <div class="logo">
                <a [routerLink]="['/']" title="logo">Logo </a>
             </div>
             <div class="mob-menu">
                <span>
                   <i class="fa fa-bars"></i>
                </span>
             </div>
          </div>
          <div class="col-md-12 col-sm-12 col-lg-12 col-xl-10">
             <div class="main-menu">
                <ul class="nav">
                   <li><a [routerLink]="['/']"> Home </a> </li>
                   <li><a [routerLink]="['/employee/list']"> Employee List </a> </li>
                   <li><a [routerLink]="['/employee/create']"> Create Employee </a> </li>
                </ul>
                <ul class="right-nav">
                    <li><a [routerLink]="['/auth/signin']"> <i class="fa fa-user"></i> Log in </a> </li>
                    
                    <li class="active"> <a href="#"> <i class="fa fa-sign-in"></i> Sign up </a> </li>
                </ul>
             </div>
          </div>
       </div>
    </div>
</header>
