<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-2"></div>
        <div class="col-lg-6 col-md-8 login-box">
            <div class="col-lg-12 login-key">
                <i class="fa fa-key" aria-hidden="true"></i>
            </div>
            <div class="col-lg-12 login-title">
                ADMIN PANEL
            </div>

            <div class="col-lg-12 login-form">
                <div class="col-lg-12 login-form">
                    <form [formGroup]="LoginForm" (ngSubmit)="signInsubmit()">
                        <div class="form-group">
                            <label class="form-control-label">USERNAME</label>
                            <input  formControlName="userName" name="userName" type="text" class="form-control">
                            <div *ngIf="userName?.invalid && (userName?.dirty || userName?.touched)"
                                    class="alert-danger">

                                <div *ngIf="userName?.errors?.['required']">
                                    Name is required.
                                </div>
                                <div *ngIf="userName?.errors?.['minlength']">
                                    Name must be at least 2 characters long.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">PASSWORD</label>
                            <input formControlName="password" name="password" type="password" class="form-control" />
                            <div *ngIf="password?.invalid && (password?.dirty || password?.touched)"
                                    class="alert-danger">

                                <div *ngIf="password?.errors?.['required']">
                                    Name is required.
                                </div>
                                <div *ngIf="password?.errors?.['minlength']">
                                    Name must be at least 6 characters long.
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 loginbttm">
                            <div class="col-lg-6 login-btm login-text">
                                <!-- Error Message -->
                            </div>
                            <div class="col-lg-6 login-btm login-button">
                                <button [disabled]="!LoginForm.valid" type="submit" class="btn btn-outline-primary">LOGIN</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-3 col-md-2"></div>
        </div>
    </div>




