<div class="container" style="margin-top: 30px;">
    <div class="row">
        <div class="col-md-12">
            <div class="">
                <h3>Employee List</h3>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Salary</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let employee of employeeData, let i=index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{employee['employee_name']}}</td>
                        <td>{{employee['employee_age']}}</td>
                        <td>{{employee['employee_salary']}}</td>
                    </tr>
                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

test: {{ employeeFromData?.actionsObserver._value.firstName }}
